<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="container">
    <div class="navbar navbar-inverse" role="navigation" >
        @Html.Action("ResumoCarrinho", "Carrinho")
        <a class="navbar-brand" href="#">Artigos Esportivos</a>
        
    </div>
        <div class="row">
            <div id="categorias" class="col-xs-3">
              @Html.Action("Menu","Navega")
            </div>
            <div class="col-xs-8">
                @RenderBody()
            </div>  
       
    </div>
       </div>
</body>
</html>